* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background: rgb(143, 202, 255);
  border-bottom: 2px solid #000;
  width: 100%;
  padding: 8px 32px;
}

main {
  margin: 16px;
}
