body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

header {
  background: rgb(143, 202, 255);
  border-bottom: 2px solid #000;
  width: 100%;
  padding: 8px 0;
}
  header h1 {
    margin: 0 32px;
  }

main {
  margin: 16px;
}

hr {
  border: none;
  border-bottom: 2px solid #000;
  margin: 16px 0;
}

button {
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 8px;
  background: #d3d3d3;
  cursor: pointer;
}
  button:hover,
  button:focus,
  button:active {
    background: #eee;
  }

.menu {
  float: left;
}

.cart {
  float: left;
}
  .cart select, input {
    width: 100%;
  }
